  head{
            
            text-align:center;
        }
        
        body 
            {
                margin: 0;
                font-family: 'Share Tech', sans-serif;
                font-size:16px;
                background-image: url("img/bg.jpg");
                overflow-x:hidden;
            }           
            main {
             position:relative;
             padding:7vh 0 10vh;
             opacity:0;
             margin-top:-5px;
         }
        
        ul {
            list-style-type: square;
            margin: auto;
            padding: 20px;
            overflow: hidden;
            background-color: #111;
            font-size: 20px;
        }
        
        .letter {
            list-style-type:none;
            margin: auto;
            padding: 20px;
            overflow: hidden;
            color: white;
            font-size: 20px;
            text-align: left;
        }
        .li{
            list-style-type:none;
            margin: auto;
            padding: 20px;
            overflow: hidden;
            color: white;
            font-size: 20px;
            text-align: left;
        }
        .lih2{
            list-style-type:none;
            margin: auto;
            padding: 20px;
            overflow: hidden;
            color: white;
            font-size: 20px;
            text-align: left;
        }
        
        .Skills{
            float:left;
            display: block;
           
        }
        .Contact{
            
            display: block;
           
        }
        .ContactMe{
            
        }
        
        li {
           display: block;
            
        }
        
        
        
        p{
            color: white;
        }
        
        li a {
            
            color: white;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #333;
            font-size: 20px;
        }
       
        div {
            width: auto;
            padding: 50px;
            height: auto;
            border: 5px solid gray;
            background: black;
            margin: auto;
            text-align: center;
        }
        .drop{
        background: rgba(0, 0, 0, 0.52);
        width:auto;
        margin: auto;
        
            
        }
        
        h1 {
            text-shadow: 2px 2px 5px cyan;
            font-size: 80px;
            color: cyan;
            font-family: arial, helvetica, san-serif;
            text-align:center;
            
            
   
        }
        h2{
            text-shadow: 2px 2px 5px cyan;
            font-size: 40px;
            color: cyan;
            font-family: arial, helvetica, san-serif;
            margin: auto;
            text-align:center;
            

        }
     
        h3 {
            color: white;
            text-align: center;
        }
        h4 {
            color: cyan;
        }
        nav {
            float: none;
            text-align:center;
        
        }
        div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        width: 180px;
      }
      
      div.gallery:hover {
        border: 1px solid #777;
      }
      
      div.gallery img {
        width: 100%;
        height: auto;
      }
      
      div.desc {
        padding: 15px;
        text-align: center;
      }
      img {
        display: inline;
        margin-left: auto;
        margin-right: auto;
        width:45%
      }
      figure{
            width: 50%;
            padding: 50px;
            height: 50%;
            margin: auto;
            text-align: center;
            background: rgba(0, 0, 0, 0.5);
            
      }
      .flex-Text {
            margin:100px;
            width: auto;
            height: auto;
            display: flex;
              background: rgba(0, 0, 0, 1);
            }
      * {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}